<html ng-app="sortableApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="data.js"></script>
<script src="scripts.js"></script>
</head>
<body ng-controller="MainController">
<div class="container">
<div class="row">
<h1>Demo of sortable event list</h1><small>This demo is made for the OSA project</small><hr>
</div>
<div class="checkboxList well row">
    <div class="col-md-8"><div ng-repeat="category in categories" class="col-md-4">
        <label>
                <input type="checkbox" ng-model="filter[category]">
                <span>{{category}}</span>
            </label>
    </div></div>
	
	<div class="col-md-4"><button class="btn btn-primary" ng-click="uncheck_all()">Uncheck All</button>
	<button class="btn btn-primary" ng-click="check_all()">Check All</button>
	</div>
</div>
<div class="row">

</div>
 <div class="row">
    <div class="well col-md-4" ng-repeat="event in events | filter: filterByCategory">
      <span>{{event.name}}</span>
      <p>{{event.date}}</p>
    </div>
  </div>
  </div>
  
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
